body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;

}
.name{
    color: chocolate;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 50px;
    padding-right: 20px;
}
.half-width image{
    width: 50%;
}
.middle-width{
    width: 60%;
    padding-left: 10px;
    padding-right: 20px;
    margin-right: 10px;
    padding-bottom: 400px;
}
.middle-width image{
    width: 50%;
}
.middle-t-width{
    width: 60%;
    padding-left: 10px;
    padding-right: 20px;
    
    padding-top: 60px;
}
.middle-t-width image{
    width: 50%;
}
p{
    font-size: 25px;
}
.button{
    text-decoration: none;
    background-color: tomato;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
}
.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.middle{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    position: bottom;
}