body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;

}
.name{
    color: chocolate;
}
.flex-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 50px;
    padding-right: 35px;
}
.half-width image{
    width: 50%;
}
.top{
    
        font-size: 25px;  
}
.middle{
    
        font-size: 25px;
    
}
.middle-width{
    width: 60%;
    padding-left: 10px;
    padding-right: 20px;
    margin-right: 10px;
    padding-bottom: 40px;
    padding-top: 20px;
}
.middle-width image{
    width: 50%;
}
.middle-t-width{
    width: 60%;
    padding-left: 10px;
    padding-right: 20px;
    
    padding-top: 60px;
}
.middle-t-width image{
    width: 50%;
}

.button{
    text-decoration: none;
    background-color: tomato;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
}
.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.middle{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    position: bottom;
}
.exprience{
    padding-left: 30px;
    padding-bottom: 40px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left ;
}
.bottom-width{
    width: 50%;
    padding-left: 40px;
    padding-right: 35px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: chocolate 10px 10px 30px 10px;
    border-radius: 5%;
}
.left{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
 
}
.right{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
   text-align:center
}