body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;

}
.name{
    color: chocolate;
}
section{
    display: flex;
}
.half-width{
    width: 60%;
    padding-left: 50px;
    padding-right: 20px;
}
.half-width image{
    width: 5%;
}
p{
    font-size: 25px;
}
.button{
    text-decoration: none;
    background-color: tomato;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
}
.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}